body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*react hint*/
.react-hint {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	cursor: default;
	animation: .5s fadeIn;
}

.react-hint__content {
	padding: 10px;
	border-radius: 5px;
	background: #000;
	color: #fff;
}

.react-hint:after {
	content: '';
	width: 0;
	height: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid transparent;
}

.react-hint--top:after {
	top: auto;
	border-bottom: none;
	border-top-color: #000;
}

.react-hint--left:after {
	left: auto;
	border-right: none;
	border-left-color: #000;
}

.react-hint--right:after {
	right: auto;
	border-left: none;
	border-right-color: #000;
}

.react-hint--bottom:after {
	bottom: auto;
	border-top: none;
	border-bottom-color: #000;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*Sidebar*/
.sidebar {
	max-width: 240px;
	height: 100vh;
	background-color: #88C0F2;
	border: 0.5px solid #707070;
  }
  
  .sidebar-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
  }
  
  .sidebar-item-content {
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
	align-items: center;
	width: 100%;
  }
  
  .sidebar-item-icon {
	margin-right: 6px;
  }
  
  .sidebar-item-text {
	width: 100%;
  }
  
  .sidebar-item-expand-arrow {
	font-size: 1.2rem !important;
	color: #1C4C82;
  }
  
  .sidebar-item-expand-arrow-expanded {
	color: #1C4C82;
	font-weight: bold;
  }
  